@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

body {
    
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}


h2 {
    display: flex;
    width: 22.5625rem;
    height: 8.8125rem;    
    color: #F61010;
    font-family: Graduate;
    font-size: 4rem;    
    font-style: normal;
    font-weight: 400;
    text-align: left;
    align-items: start;
    
}


.boxImagem {
    width: 40.5625rem;
    height: 25.6875rem;
    border-radius: 1.5625rem;
    background: url(assets/imagem\ inicial.jpg), lightgray 50%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-content: center;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    align-items: center;
}